// Things that aren't Bootstrap, but may be useful...

.meta {
  line-height: 0.6;
}

// Table of contents
.index-links {
  border-left: 0.4em solid $grey-light;
  margin: 1.6em 0;
  padding: 0 0 1.2em 1.2em; // Yes, this is uneven. Should be: '0 0 0 1.2em' imo, but sticking to their look.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $grey;
    font-size: 1em;
    font-weight: $font-weight-normal;
    margin-top: 1.6em;
    padding-bottom: 1.2em;
  }
  a {
    font-weight: bold;
  }
  ul,
  ol {
    list-style: none;
    padding-left: 0;
    ul,
    ol {
      padding-left: 2em; // in case of nesting.
    }
  }
  li:not(:last-of-type) {
    margin-bottom: 1.5em;
  }
}

// Repeating word pattern:
.repeat-word {
  & > span,
  a {
    display: inline-block;
    font-size: 150%;
    font-weight: $font-weight-bold;
    line-height: 1.4;
    span {
      display: block;
      font-size: 65%;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      font-size: 100%;
    }
  }
}

// Progress indicator list
.progress-indicator {
  .list-group-item {
    $indent: 11px;
    padding-left: $indent + 70px;
    &:before {
      color: lighten($grey, 10%);
      // content: "\2014"; // emdash
      // content: "\25A1"; // empty square
      content: '\2022'; // "•"
      font-size: 150%;
      left: $indent + 26px;
      position: absolute;
      top: 0.42em;
      width: $indent + 50px;
    }
    .label {
      background-color: transparent;
      border-color: $grey;
      color: $grey;
      padding-top: 3px;
    }
    &.progress-indicator--active {
      border-left: $radius solid $primary;
      padding-left: $indent + 70 - $radius;
      &:before {
        left: $indent + 18 - $radius;
      }
    }
    &.progress-indicator--doing {
      &:before {
        color: $primary-dark;
        content: '\2022\2022\2022'; // "•••"
        font-size: 150%;
        left: $indent + 13px;
        top: 0.42em;
      }
      .progress-indicator--heading {
        color: $primary-dark;
      }
      .label {
        border-color: $primary;
        color: $primary;
      }
    }
    &.progress-indicator--done {
      &:before {
        border: $radius solid lighten($grey, 10%);
        border-right-style: none;
        border-top-style: none;
        // check/tick
        content: ''; // not using this way
        height: 12px;
        left: $indent + 18px;
        top: 15px;
        transform: rotate(-45deg);
        width: 24px;
      }
    }
    .progress-indicator--heading {
      font-size: 18px;
      margin: 5px 3em 8px 0;
      word-break: break-word;
      a {
        display: inline-block;
        line-height: 1.1;
        padding-left: 0;
        &:hover,
        &:active,
        &:focus {
          background-color: rgba($primary-highlight, 0.7);
        }
      }
    }
    .progress-indicator--status {
      position: absolute;
      right: 15px;
      top: 13px;
    }
  }
}

// Lists
.list-group.list-group-icon {
  .list-group-item {
    font-size: 18px; // Visually like a h4
    font-weight: bold;
    padding: 1.3em 30px; // Extra padding ...for some reason (requested by SDT)
    padding-left: 82px;
    & > a {
      display: inline-block;
      &:hover,
      &:active,
      &:focus {
        .fa,
        .glyphicon,
        .icon {
          color: $primary-highlight;
        }
      }
      .glyphicon,
      .icon {
        top: 0.6em;
      }
    }
    .fa,
    .glyphicon,
    .icon {
      color: $grey;
      font-size: 35px;
      margin-left: -61px;
      margin-right: 0;
      position: absolute;
      top: 0.6em;
      &:before {
        margin-right: 0.5em;
      }
    }
    .list-group-item-heading {
      margin-top: 5px;
    }
    .list-group-item-text {
      margin-bottom: 0;
    }
  }
}

// Dashboard
.dashboard-item {
  margin: 1em 0 3em;
  .dashboard-icon {
    color: $primary;
    font-size: 8em;
    margin-bottom: 0.2em;
  }
  .dashboard-title {
    margin: 0;
    padding-bottom: 0.5em;
  }
  .dashboard-more-info {
    border-bottom: 0;
    color: #fff;
    font-size: 80%;
    line-height: 1.1;
    outline: 0;
    position: relative;
    top: -3px;
    transition: all 0.2s;
    &:before {
      border: 2px solid $primary;
      border-radius: 100%;
      color: $primary;
      content: 'i';
      font-family: $font-serif;
      font-size: 20px;
      font-style: italic;
      padding: 0 9px;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      &:before {
        background-color: $primary-highlight;
        border-color: $primary-highlight;
        color: $grey-dark;
        text-decoration: none;
      }
    }
  }
  .dashboard-more-info-qmark {
    &:before {
      content: '?';
      font-family: $font-family-base;
      font-style: normal;
    }
  }
  .dashboard-highlight {
    color: $primary;
    display: block;
    font-size: 180%;
    margin: 0.5em 0;
    a {
      color: $primary;
      padding: 0.5em 0.1em 0;
      &:hover,
      &:active,
      &:focus {
        color: $grey-dark;
      }
    }
    strong {
      font-size: 180%;
      a {
        padding: 0;
      }
    }
  }
  .dashboard-extra {
    color: $grey-dark;
  }
}

// Date layout - mostly stolen from previous work on australia.gov.au
.calendar-list {
  max-width: 48em;
  padding-left: 0;
  .calendar-item {
    background-color: $grey-light;
    border-bottom: 1px solid #fff;
    display: table;
    width: 100%;
    .calendar-number {
      color: $primary;
      display: block;
      font-size: 1.8em;
      margin: 6px 0;
    }
    .calendar-title {
      font-size: 1.25em;
      line-height: 1.4;
      padding: 0 0 0 20px;
      padding-top: 3px;
    }
    .calendar-note {
      color: $grey-dark;
      display: block;
      font-size: 14px;
      margin: 3px 0;
      padding-right: 10px;
    }
    .calendar-date,
    .calendar-name {
      border-right: 1px solid #fff;
      line-height: 0.8;
      padding: 12px 10px;
      text-align: center;
      text-transform: uppercase;
      width: 70px;
    }
    .calendar-date,
    .calendar-title {
      display: table-cell;
      vertical-align: middle;
    }
    &.calendar-item-past {
      .calendar-number,
      .calendar-title {
        color: $grey-medium;
      }
      .calendar-date {
        color: $grey;
      }
      .calendar-note {
        color: $grey;
      }
    }
    &.calendar-item-current {
      background-color: $primary-lighter;
      .calendar-number,
      .calendar-title {
        // color: $info-dark;
        color: $primary-dark;
      }
      .calendar-date,
      .calendar-note {
        // color: $primary-dark;
      }
    }
  }
}

// CTA link style:
.cta-link {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 1.6em;
  margin-right: 0.2em;
  padding: 2px 5px;
  position: relative;
  &::after {
    color: $primary-highlight;
    content: '›';
    display: inline-block;
    font-size: 150%;
    font-weight: 400;
    margin-left: 0.3em;
    margin-top: -0.1em;
    transition: all 0.2s ease-in;
  }
  &:hover,
  &:active,
  &:focus {
    color: $primary-darker;
    margin-right: 0;
    &::after {
      color: $primary-darker;
      margin-left: 0.45em;
      transform: scale(
        1.2
      ); // Tweaked from UI-Kit version, I couldn't help meself.. :D
    }
  }
}
.jumbotron+.cta-link {
	top: -1em;
  margin: 0 0 0.7em 0;
}

// Fullpage message style.
// See message.html for example.
.full-page {
  padding: 0;
  .container {
    height: 50vh;
    margin: 25vh auto;
  }
}
